*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr;
}


.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #0f172a;   
}

.sidebar .dashboard{
    color: white;
    font-size: 2rem;
}

.page-name{
    padding: 30px 40px 10px 10px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin-bottom: 3rem;
}
ul{
    padding: 20px 10px 20px 30px;
}

ul li{
    line-height: 30px;
    list-style-type: none;
    color: white;
    font-size: 1.2rem;
}

.header{
    grid-column: 2/4;
    background-color: #cbd5e1;
}

.main-content{
    background-color: #94a3b8;
    grid-column: 2/4;
    

}

.section{

}